# Mac OSX
.DS_Store
._.DS_Store

#webstorm
.idea/

# Packages
node_modules/
bower_components/
npm-debug.log

# Build
build/
.publish

# Test
coverage/

# Read-only config files
.editorconfig
.jscsrc
.jshintrc
.jshintrc-angular
browserslist
csslintrc.json
htmlhintrc.json

# Redundant files
